@import "/src/scss/mixins";

.player {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 350px;
  position: relative;

  @include breakpoint(md) {
    width: 300px;
    height: 250px;
  }
}
